[Desktop Entry]
Version=1.0
Name=FreePBX Startup
Comment=Turns on Asterisk VoIP & FreePBX if not running
Exec=gksudo -k -u root amportal start
Icon=/opt/publicbox/App_Images/green_asterisk.png
Terminal=true
Type=Application
Categories=Utility
X-KeepTerminal=true
