[Desktop Entry]
Version=1.0
Name=PublicBox Startup
Comment=Turns on all PublicBox functions
Exec=gksudo -k -u root /opt/publicbox/init.d/publicbox start
Icon=/opt/publicbox/www/favicon.ico
Terminal=true
Type=Application
Categories=Utility
X-KeepTerminal=true
