[Desktop Entry]
Version=1.0
Name=FreePBX Shutdown
Comment=Turns off Asterisk VoIP and FreePBX if running
Exec=gksudo -k -u root service amportal stop
Icon=/opt/publicbox/App_Images/red_asterisk.png
Terminal=true
Type=Application
Categories=Utility
X-KeepTerminal=true
