[Desktop Entry]
Version=1.0
Name=Asterisk Shutdown
Comment=Turns off Asterisk VoIP if running
Exec=sudo asterisk -rx "stop now"
Icon=/opt/publicbox/App_Images/red_asterisk.png
Terminal=true
Type=Application
Categories=Utility
X-KeepTerminal=true
